
html
body
h1
h2
h3
p
ul
li
  margin: 0
  padding: 0


// shared

body
  box-sizing: border-box
  font: 400 14px/20px 'Helvetica Neue', helvetica, sans-serif
  margin: 0 auto
  min-width: 280px
  max-width: 700px
  padding: 40px 20px
  width: 100%

p
  margin-bottom: 1em

a
  color: blue
  text-decoration: none

  &:hover
    text-decoration: underline


// cv

#cv
  h1
    margin-bottom: .25em

  h2
    color: #999
    margin: 2em 0 1em

  ul
    margin: 0

  li
    margin-left: 20px